
/* Media Queries */
@media (max-width: 1700px) {
    header {
        padding: 18px 8%;
    }
    header.sticky {
        padding: 7px 8%;
    }
    section {
        padding: 50px 8% 40px;
    }

}

@media (max-width: 1200px) {
    header {
        padding: 14px 5%;
    }

    header.sticky {
        padding: 7px 5%;
    }

    section {
        padding: 4rem;
    }

    :root {
        --h1-font: 4.6rem;
        --h2-font: 2.8rem;
        --p-font: 15px;
    }

    .home {
        height: 90vh;
    }
}
